{% load i18n %}<div class="container-fluid">
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>{{ error }}</strong>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<form class="form-signin" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <h2 class="form-signin-heading">Please sign in</h2>
  {{ form.username.errors }}
  <label for="id_username" class="sr-only">Username</label>
  <input type="username" class="form-control" placeholder="Username" required autofocus id="id_username" maxlength="254" name="username" type="text" />
  {{ form.password.errors }}
  <label for="id_password" class="sr-only">Password</label>
  <input  id="id_password" name="password" type="password" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <!--<label>-->
      <!--<input type="checkbox" value="remember-me"> Remember me-->
    <!--</label>-->
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
 </div> 
