{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Charts{% endblock sb_admin_title %}
{% block sb_admin_custom_css %}{% endblock sb_admin_custom_css %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">
      <i class="fa fa-bar-chart-o""></i>Charts
 </li>
{% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}



        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <div class="row">
          <div class="col-lg-8">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Bar Chart Example</div>
              <div class="card-body">
                <canvas id="myBarChart" width="100%" height="50"></canvas>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Pie Chart Example</div>
              <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>
        </div>

        <p class="small text-center text-muted my-5">
          <em>More chart examples coming soon...</em>
        </p>

 

                
{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}


  <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
  <script src="{% static "js/demo/chart-area-demo.js" %}"></script>
  <script src="{% static "js/demo/chart-bar-demo.js" %}"></script>
  <script src="{% static "js/demo/chart-pie-demo.js" %}"></script>

{% endblock sb_admin_custom_js %}